body{
  background-color: white;
  margin: 0;
  text-align: center;
  font-family: cursive;
  font-size: 30px;
}
img {
  height: 200px;
  width: 200px;
}

p {
  line-height: 2;
  margin: 50px auto 0;
}

a {
  text-decoration: #66BFBF;
}




.myButton {
	box-shadow: 3px 13px 15px -6px #3e7327;
	background:linear-gradient(to bottom, #59b391 5%, #72b352 100%);
	background-color:#59b391;
	border-radius:12px;
	border:1px solid #316318;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:23px;
	font-weight:bold;
	padding:16px 28px;
	text-decoration:none;
	text-shadow:0 1px 43px #5b8a3c;
}
.myButton:hover {
	background:linear-gradient(to bottom, #72b352 5%, #59b391 100%);
	background-color:#72b352;
}
.myButton:active {
	position:relative;
	top:1px;
}






.get-in-touch {
  width: 50%;
  margin: auto;
}

.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 80px;
  font-family: 'Dancing Script', cursive;

}

.bottom-container {
    background-color: #E4F9F5;
    margin: 50px auto 0;
}

.skill-row {
  width: 50%;
  margin: 0 auto 0 auto;
  text-align: left;

}


h1 {
  color: #66BFBF;
  font-size: 60px;
  margin-top: 50px;
  position: relative;


}
h2 {
  color: #66BFBF;
  font-size: 2rem;
}

h3 {
    color: #66BFBF;
}
.top-cloud {
  position: absolute;
  right: 100px;
  top: 10px;
  height: 150px;
  width: 250px;

}


.bottom-cloud {
  position: absolute;
  left: 100px;
  bottom: 150px;
  height: 150px;
  width: 250px;

}

.mountain {
  position: relative;
  left: 100px;
  bottom: 10px;
  height: 150px;
  width: 250px;

}
.wb-img {

  float: left;
  margin: 20px auto 20px auto;
}



.education {
  margin: 60px auto 150px;
  width: 50%;
  text-align: left;
}


.edu-img {
  padding: 50px;


  float: left;

}
.py-img {
  float: right;
}
